$dark-color: #231f20!important;
$blue-color: #278ada!important;
$blue-color2: #41a4f5!important;
$white-color: #fff!important;
$gnrFont: 'Open Sans', sans-serif !important;
$altFont: 'Montserrat', sans-serif !important;
$erase: none!important;

body{
   font-family: $gnrFont;
}

strong{color:$blue-color;}

h5 {
  font-size: 23px !important;
  line-height: 150% !important;
  padding: 0 30px;
  text-align: justify;
 }
 
p{color:black;}

.wrapBox{
   max-width:1045px;
   margin:0 auto!important;
}

.topLine{
   height:30px;
   background:#282828;
   }

.mainBanner{
    background:url(../img/mainbanner.png) no-repeat top center #060d16;
	border-bottom:10px solid #34424e;
	margin-bottom:50px;
	
}

.investImg{
    padding: 87px 0 230px;
	margin-left:100px;
}

.row{
   margin-left: 0!important;
   margin-right: 0!important;
}

.navbar {
   margin-bottom:0 !important;
   font-family: $altFont;
   font-size:17px;
   
   
   a{color: $dark-color;}
   
   :hover{color: $blue-color;}
   
   .navbar-nav>li:last-child>a{border:$erase;}
   
   .navbar-nav>li>a{
     padding:0 30px !important;
     border-right:2px solid #cacaca !important;
   }
   
   .navbar-nav>li.active>a{
   color: $blue-color;
   background-color:$white-color;
   background-image:$erase;
   box-shadow:$erase;
   }
   
   
}

.navbar-default{
   background:$white-color;
}

.navbar-brand {
    float: $erase;
	padding:0!important;
	}
	
.navbar-header {
    padding: 8px 0 7px 17px;
}

.navbar-right{padding-top:30px;}

.bannerPos{
  width:100%;
  margin-bottom:70px;
}

.bannerForm {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    padding: 50px 20px!important;
}

.btn-primary {
    background-image:$erase;
	background-color: $blue-color2;
	border:$erase;
	border-radius:0!important;
	box-shadow:$erase;
	font-size: 17px!important;
	}

.primaryTop {
    padding: 6px 30px!important;
}

.bottomBtn{
   margin:30px 0 50px!important;
   padding: 6px 50px !important;
}

.mainContent {text-align:center;}


.panels{margin-top:60px;}

.panelContent{
   background:$white-color;
   border:1px solid #e4e4e4;
   padding:30px 40px;
   -webkit-box-shadow: 3px 6px 3px 0px rgba(228,228,228,1);
   -moz-box-shadow: 3px 6px 3px 0px rgba(228,228,228,1);
   box-shadow: 3px 6px 3px 0px rgba(228,228,228,1);
   height: 280px;
   
   img{margin-bottom:10px;}
}

.nav-tabs{
   display:table !important;
   margin:0 auto;
   border:$erase;
   
   li{
   display:inline !important;
   margin-right:20px;
   
   }
   
   li>a{
       font-family:$altFont;
	   font-size:23px;
	   padding: 10px 12px;
	   color:$dark-color;
	   }
   
   >li.active>a{
     border:$erase;
	 border-bottom: 7px solid $blue-color;
	 color:$blue-color;
     
   }

}

.tab-content{
   border-top: 1px solid #939393;
   padding-top: 20px;
}

@media(max-width:1063px){

    .navbar-form .form-control{
	    display:block !important;
		margin: 0 auto 15px !important;
	
	}
	
	.investImg{
	   padding: 50px 0 20px;
	   margin:10px 20px;
	}
	

}

@media(max-width:820px){

	
	.investImg{
	   width:80%;
	   
	}
	

}

@media(max-width:992px){
   .panelContent{
	   height:220px;
	   margin-bottom: 20px;
	   }
   
   
}
 
@media(max-width:820px){
   .bannerPos{margin-bottom:20px;}
}

@media(max-width:768px){

    h1{padding:0 15px;}

   
   .panelContent{
       height:auto;
	   text-align:center;
   }
   
   .navbar-right{
      padding-top:0;
	  text-align:center;
   }
   
   .navbar .navbar-nav > li > a{
      padding:15px!important;
	  border-bottom: 1px solid #e4e4e4;
	  border-right:none!important;

   }
   
   .navbar .navbar-nav > li:last-child > a{border-bottom:none;}
}

@media(max-width:410px){ 
   
   .nav-tabs li > a {font-size:1em;}
}

@media(max-width:340px){
   .navbar-brand img{
       width:70%;
   }
}
 


